
<section id="catalog" class="selection-gap">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 d-flex flex-column align-items-center">
                <h1>What kind of coffee we serve for you</h1>
                <h5>We are in extremely love with eco friendly system</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Cappuccino</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, sint. Deleniti fuga
                        impedit iste </p>
                </div>
            </div>
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Americano</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda aut, autem </p>
                </div>
            </div>
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Espresso</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at beatae, delectus adipisicing.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Cappuccino</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum facere minima nihil
                        nostrum quo </p>
                </div>
            </div>
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Americano</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis, veritatis. Ad debitis
                        doloribus</p>
                </div>
            </div>
            <div class="col-12 col-md-4 catalog-item">
                <div class="catalog-item-body">
                    <div class="d-flex justify-content-between catalog-item-title">
                        <h4>Espresso</h4>
                        <p class="price float-right">49$</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea molestiae possimus provident</p>
                </div>
            </div>
        </div>
    </div>
</section>
