
<section id="news" class="selection-gap">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 d-flex flex-column align-items-center">
                <h1>What kind of coffee we serve for you</h1>
                <h5>We are in extremely love with eco friendly system</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="news-img-cont">
                    <img src="assets/img/news/1.png">
                </div>
                <div class="news-tags d-flex justify-content-start">
                    <div class="news-tag">
                        <label>Travel</label>
                    </div>
                    <div class="news-tag">
                        <label>Life Style</label>
                    </div>
                </div>
                <div class="news-text">
                    <h4>Portable latest Fashion for your women</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto blanditiis
                        doloremque, dolores illum labore nemo </p>
                    <h5>31st January, 2018</h5>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="news-img-cont">
                    <img src="assets/img/news/2.png">
                </div>
                <div class="news-tags d-flex justify-content-start">
                    <div class="news-tag">
                        <label>Travel</label>
                    </div>
                    <div class="news-tag">
                        <label>Life Style</label>
                    </div>
                </div>
                <div class="news-text">
                    <h4>Portable latest Fashion for your women</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto blanditiis
                        doloremque, dolores illum labore nemo </p>
                    <h5>31st January, 2018</h5>
                </div>
            </div>

        </div>
    </div>
</section>