
<section id="reviews" class="selection-gap">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 d-flex flex-column align-items-center">
                <h1>What kind of coffee we serve for you</h1>
                <h5>We are in extremely love with eco friendly system</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 review-item">
                <i class="fa-solid fa-vr-cardboard fa-2xl icon"></i>
                <div class="review-item-title d-flex justify-content-between">
                    <h4>Lorem ipsum</h4>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores at deserunt dignissimos hic
                    molestiae odit perspiciatis quis saepe vitae. Aut cumque ea iure quasi quibusdam repellendus, sed
                    velit vero!</p>
            </div>
            <div class="col-12 col-md-6 review-item">
                <i class="fa-regular fa-lightbulb fa-2xl icon"></i>
                <div class="review-item-title d-flex justify-content-between">
                    <h4>Lorem ipsum</h4>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores at deserunt dignissimos hic
                    molestiae odit perspiciatis quis saepe vitae. Aut cumque ea iure quasi quibusdam repellendus, sed
                    velit vero!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <label class="value-review">2536</label>
                <p>Happy Client</p>
            </div>
            <div class="col-6 col-md-3">
                <label class="value-review">7562</label>
                <p>Total Project</p>
            </div>
            <div class="col-6 col-md-3">
                <label class="value-review">2013</label>
                <p>Cups Coffee</p>
            </div>
            <div class="col-6 col-md-3">
                <label class="value-review">10536</label>
                <p>Total Submitted</p>
            </div>
        </div>
    </div>
</section>
