<!--<?php-->

<!--require PARTS_DIR . 'header.php';-->
<!--require PARTS_DIR . 'home/banner.php';-->
<!--require PARTS_DIR . 'home/about-us.php';-->
<!--require PARTS_DIR . 'home/catalog.php';-->
<!--require PARTS_DIR . 'home/gallery.php';-->
<!--require PARTS_DIR . 'home/reviews.php';-->
<!--require PARTS_DIR . 'home/news.php';-->
<!--require PARTS_DIR . 'footer.php';-->

<iframe src="/../templates/parts/header.html"></iframe>
<iframe src="/../templates/parts/home/banner.html"></iframe>
<iframe src="/../templates/parts/home/about-us.html"></iframe>
<iframe src="/../templates/parts/home/catalog.html"></iframe>
<iframe src="/../templates/parts/home/gallery.html"></iframe>
<iframe src="/../templates/parts/home/reviews.html"></iframe>
<iframe src="/../templates/parts/home/news.html"></iframe>
<iframe src="/../templates/parts/footer.html"></iframe>